.jumbotron .row .box
{
    max-width:320px;
    width:90%;
    background-color:#ffffff;
    padding:40px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}
header h1
{
    text-align: center;
}
        